/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Quattrocento Sans', monospace;
    font-weight: 400;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 750px) {
    /* Style adjustments for viewports that meet the condition */
    .wrapper {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .testimonial {
        display: inline-block;
        text-align: center;
        width: calc(64%/3);
        float: left;
        padding: 0 6%;
    }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0;
        margin: 0.5rem 0;
        line-height: 1.5;
    }
}


/*
    *
    * Home styles
    *
    */

h1 {
    font-size: 4em;
}

ul {
    list-style: none;
}

.header {}

.nav {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.logo {
    float: left;
    padding: 4%;
    background-image: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.topnav {
    display: inline;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    float: right;
}

.topnav>li {
    display: inline-block;
    margin-left: 20px;
}

.topnav>li>a {
    text-decoration: none;
}

.main {
    padding: 15%;
}

.hero {
    text-align: center;
    font-weight: 500;
    margin-top: 8%;
}

.button {
    display: block;
    text-align: center;
    margin: 4% auto;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    padding: 8px 24px 10px 24px;
    border-radius: 20px;
    font-family: 'Roboto Mono', monospace;
}

.testimonial-wrap {
    display: block;
    margin: 20% auto;
}

@media only screen and (max-width: 749px) {
    .testimonial {
        display: block;
        width: 64%;
        text-align: center;
        margin: 0 auto;
    }
    .testimonial-wrap {
        margin: 25% auto;
    }
}

.quote {}

.author {
    text-align: center;
    font-weight: 700;
}
.canela {
    font-family: 'Quattrocento', serif;
}
.boldi {
    font-weight: 600;
    font-style: italic;
}
/*
*
* Fluid Typography
*
*/
/*
.mod_scale_fluid h1 {
  font-size: 1.29616rem;
}
@media screen and (min-width: 37.5rem) {
  .mod_scale_fluid h1 {
    font-size: calc(1.29616rem + 1.86118 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  .mod_scale_fluid h1 {
    font-size: 3.15733rem;
  }
}
.mod_scale_fluid h2 {
  font-size: 1.21477rem;
}
@media screen and (min-width: 37.5rem) {
  .mod_scale_fluid h2 {
    font-size: calc(1.21477rem + 1.15383 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  .mod_scale_fluid h2 {
    font-size: 2.36859rem;
  }
}
.mod_scale_fluid h3 {
  font-size: 1.13849rem;
}
@media screen and (min-width: 37.5rem) {
  .mod_scale_fluid h3 {
    font-size: calc(1.13849rem + 0.6384 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  .mod_scale_fluid h3 {
    font-size: 1.77689rem;
  }
}
.mod_scale_fluid h4 {
  font-size: 1.067rem;
}
@media screen and (min-width: 37.5rem) {
  .mod_scale_fluid h4 {
    font-size: calc(1.067rem + 0.266 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  .mod_scale_fluid h4 {
    font-size: 1.333rem;
  }
}
.mod_scale_fluid h5 {
  font-size: 1rem;
}
@media screen and (min-width: 37.5rem) {
  .mod_scale_fluid h5 {
    font-size: calc(1rem + 0 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  .mod_scale_fluid h5 {
    font-size: 1rem;
  }
}
.mod_scale_fluid h6 {
  font-size: 0.93721rem;
}
@media screen and (min-width: 37.5rem) {
  .mod_scale_fluid h6 {
    font-size: calc(0.93721rem + -0.18702 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  .mod_scale_fluid h6 {
    font-size: 0.75019rem;
  }
}*/
/* spinzzz */

-webkit-animation: antiClockwiseSpin 10s infinite linear;
animation: antiClockwiseSpin 10s infinite linear;
 
 
@keyframes antiClockwiseSpin {
	0%  {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}	
}
 
@keyframes antiClockwiseSpin {
	0%  {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}	
}

/* Anti */
.anticlockwise {
    -webkit-animation: antiClockwiseSpin 20s infinite linear;
    animation: antiClockwiseSpin 20s infinite linear;
    mix-blend-mode: screen;
}
